<DOCTYPE HTML>
<HTML>
<HEAD>
	<META CHARSET="UTF-8">
	<TITLE>第01組</TITLE>
	<LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="STYLE.CSS">
</HEAD>

<BODY class="profbg" background="./image/3.jpg">

	<div class="profile">
		<div style="background: rgb(255,229,243);background: linear-gradient(180deg, rgba(255,229,243,1) 0%, rgba(201,144,156,1) 100%);">
			<aside>
				<figure>
					<div class="profpic">
						<img src="./image/home2.png">
					</div>
					<figcaption>張倚瑄</figcaption>
				</figure>
				<nav class="profnav">
					<ul>
					<li><a class="profnow" href="./06170020.html">關於我</a></li>
						<li><a class="profnotnow" href="./06170020-2.html">關於我的夢想</a></li>
						<li><a class="profnotnow" href="./06170020-3.html">關於這些旅遊</a></li>
					</ul>
				</nav>
			</aside>
		</div>
		
		<main>

			<big><CENTER> <h1>✎Welcome to My Blog </h1></CENTER> </big>
			  <ul type="circle">
				<i><big><li><h3>姓名:  張倚瑄</h3></li></big></i>
				<i><big><li><h3>生日:  87/12/18</h3></li></big></i> 
				<i><big><li><h3>就讀學校:  銘傳大學</h3></li></big></i>
				<i><big><li><h3>座右銘:  生命不是超越別人，而是超越自己</h3></li></big></i>
				<i><big><li><h3>社群軟體:<a href="https://www.instagram.com/12_18_alice/"><img class="aliceig" src="./image/aliceig.png"></a></h3></li></big></i>
				</ul>
			
			
			
		</main>
	</div>
	
</body>
</html>