<DOCTYPE HTML>
<HTML>
<HEAD>
	<META CHARSET="UTF-8">
	<TITLE>第01組</TITLE>
	<LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="STYLE.CSS">
</HEAD>

<BODY class="profbg" background="./image/3.jpg">
	<div class="profile">
		<div style="background: rgb(255,229,243);background: linear-gradient(180deg, rgba(255,229,243,1) 0%, rgba(201,144,156,1) 100%);">
			<aside>
				<figure>
					<div class="profpic">
						<img src="./image/home2.png">
					</div>
					<figcaption>張倚瑄</figcaption>
				</figure>
				<nav class="profnav">
					<ul>
						<li><a class="profnotnow" href="./06170020.html">關於我</a></li>
						<li><a class="profnow" href="./06170020-2.html">關於我的夢想</a></li>
						<li><a class="profnotnow" href="./06170020-3.html">關於這些旅遊</a></li>
					</ul>
				</nav>
			</aside>
		</div>
		
		<main>
			<h1><font color="#4b0082">ღ我想..環島</font></h1>
			<p>台灣有很多地方都是很美的，只是我們得用心去體會</p>
			<MARQUEE class="alicemaps"> 
			<img src="./image/map1.png"><img src="./image/map2.png"><img src="./image/map3.png"><img src="./image/map4.png"><img src="./image/map5.png"><img src="./image/map6.png">
			<img src="./image/map7.jpg"><img src="./image/map8.png"><img src="./image/map9.png"><img src="./image/map10.png"><img src="./image/map11.png"><img src="./image/map12.png">
			<img src="./image/map13.png"><img src="./image/map14.png"><img src="./image/map15.png"><img src="./image/map16.png">
			</MARQUEE> 
			<HR>
			<h1><font color="#4b0082">ღ我想..出國打工旅遊</font></h1>
			<p>去澳洲。趁著自己還年輕、還有勇氣的時候，出去看一看不一樣的世界，存一些錢</p>
			<HR>
				<h1><font color="#4b0082">ღ我想..開一間咖啡廳</font></h1>
			<p>裝潢成自己喜歡的樣子，希望進到店裡的人有一種舒適、溫馨的感受，這是我最終的夢想</p>
		</main>
	</div>
	
</body>
</html>