<DOCTYPE HTML>
<HTML>
<HEAD>
	<META CHARSET="UTF-8">
	<TITLE>第01組</TITLE>
	<LINK REL="STYLESHEET" TYPE="TEXT/CSS" HREF="STYLE.CSS">
</HEAD>

<BODY class="profbg" background="./image/3.jpg">

	<div class="profile">
		<div style="background: rgb(255,229,243);background: linear-gradient(180deg, rgba(255,229,243,1) 0%, rgba(201,144,156,1) 100%);">
			<aside>
				<figure>
					<div class="profpic">
						<img src="./image/home2.png">
					</div>
					<figcaption>張倚瑄</figcaption>
				</figure>
				<nav class="profnav">
					<ul>
						<li><a class="profnotnow" href="./06170020.html">關於我</a></li>
						<li><a class="profnotnow" href="./06170020-2.html">關於我的夢想</a></li>
						<li><a class="profnow" href="./06170020-3.html">關於這些旅遊</a></li>
					</ul>
				</nav>
			</aside>
		</div>
		
		<main>
			<h1>Welcome</h1>
			<p>this is alice's albums</p>
			<div class="album">
				<div class="photos">
					<input type="radio" name="rlu" id="rlu1" checked>
					<input type="radio" name="rlu" id="rlu2">
					<input type="radio" name="rlu" id="rlu3">
					<input type="radio" name="rlu" id="rlu4">
					<input type="radio" name="rlu" id="rlu5">
					<input type="radio" name="rlu" id="rlu6">
					<input type="radio" name="rlu" id="rlu7">
					<input type="radio" name="rlu" id="rlu8">
					<input type="radio" name="rlu" id="rlu9">
					<input type="radio" name="rlu" id="rlu10">
					
					<div class="photo photo1">
						<img src="./image/a1.jpg">
					</div>
					<div class="photo">
						<img src="./image/a2.jpg">
					</div>
					<div class="photo">
						<img src="./image/a3.jpg">
					</div>
					<div class="photo">
						<img src="./image/a4.jpg">
					</div>
					<div class="photo">
						<img src="./image/a5.jpg">
					</div>
					<div class="photo">
						<img src="./image/a6.jpg">
					</div>
					<div class="photo">
						<img src="./image/a7.jpg">
					</div>
					<div class="photo">
						<img src="./image/a8.jpg">
					</div>
					<div class="photo">
						<img src="./image/a9.jpg">
					</div>
					<div class="photo">
						<img src="./image/a10.jpg">
					</div>
				</div>
				<br>
				<div class="photonavlu">
					<label for="rlu1" class="photoselect a">1</label>
					<label for="rlu2" class="photoselect a">2</label>
					<label for="rlu3" class="photoselect a">3</label>
					<label for="rlu4" class="photoselect a">4</label>
					<label for="rlu5" class="photoselect a">5</label>
					<label for="rlu6" class="photoselect a">6</label>
					<label for="rlu7" class="photoselect a">7</label>
					<label for="rlu8" class="photoselect a">8</label>
					<label for="rlu9" class="photoselect a">9</label>
					<label for="rlu10" class="photoselect a">10</label>
				</div>
			</div>	
			
			
		</main>
	</div>
	
</body>
</html>