BODY {
	MARGIN: 0;
	PADDING: 0;
	FONT-FAMILY: 'Microsoft JhengHei', 'PingFang', SANS-SERIF;
}

.NAV {
	min-width: 800px;
	BACKGROUND-COLOR: #595959;
	COLOR: #FFFFFF;
	LIST-STYLE: NONE;
	TEXT-ALIGN: RIGHT;
	PADDING: 20PX 0 20PX 0;
}

.NAV > LI {
	DISPLAY: INLINE-BLOCK;
	padding: 5px 5px;
	font-size: 16px;
}

.NAV > LI > A:HOVER {
	COLOR: #ffffff;
	font-weight: bold;
	border: 1px solid #ffffff;
	background-color: #595959;
	border-radius: 10px;
	padding: 6px 6px;
}

.now {
	text-decoration: NONE;
	font-weight: bold;
	font-size: 16px;
	color: #595959;
	background-color: #ffffff;
	border: 1px solid #595959;
	border-radius: 10px;
	padding: 6px 6px;
}

.notnow {
	font-weight: bold;
	text-decoration: NONE;
	COLOR: #FFFFFF;
	border: 1px solid #595959;
	background-color: #595959;
	border-radius: 10px;
	padding: 6px 6px;
}

.logo {
	color: #FFFFFF;
	float: left;
	padding: 0 0 0 50px;
	font-size: 20px;
	font-weight: bold;
}

.logo > a {
	text-decoration: none;
	color: #FFFFFF;
}

.bannerarea {
	width: 100%;
	margin-top: -16px;
	overflow: hidden;
}

.banners {
	width:500%;
	display: flex;
	overflow: hidden;
}

.banner{
	width: 20%;
	transition: 0.6s;
}

.banner img{
	width: 100%;
}

.bannernav {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	display: flex;
	
}

.bar{
	width: 20px;
	height: 20px;
	border: 2px solid #595959;
	margin: 5px;
	cursor: pointer;
	transition: 0.4s;
	font-size: 15px;
	color: #595959;
	text-align: center;
	background-color: #ffffff;
	padding: 2px;
}

.bar:hover{
	background: #595959;
	color: #ffffff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

#r1:checked ~ .b1 {
	margin-left:0;
}

#r2:checked ~ .b1{
	margin-left: -20%;
}

#r3:checked ~ .b1{
	margin-left:-40%;
}

#r4:checked ~ .b1{
	margin-left: -60%;
}

#r5:checked ~ .b1{
	margin-left: -80%;
}

.background {
	margin-top:-11px;
	background-image: url("./image/1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.heading{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #595959;
	margin: 50px 0 50px 0;
	padding: 30px 0 30px 50px;
	background-color: rgba(255,255,255,0.6);
}

.leader{
	width: 248px;
	border: 1px solid #595959;
	margin: 20px 10px;
	background-color: rgba(255,255,255,0.7);

}

.leader > h1{
	font-size:16px;
	font-weight: bold;
	background-color: #595959;
	color: #ffffff;
	padding: 10px 0;
	margin: 0;
}

.image {
	max-width: 150px;
	margin-top: 15px;
	transition: 0.4s;
}

.image:hover {
	opacity: 0.6;
	max-width: 150px;
	margin-top: 15px;
}

.leader > p {
	font-size: 20px;
	color: #000000;
	max-width: 200px
}

.member{
	width: 248px;
	border: 1px solid #595959;
	margin: 20px 10px;
	background-color: rgba(255,255,255,0.7);
	display: inline-block;
}

.member > h1{
	font-size:16px;
	font-weight: bold;
	background-color: #595959;
	color: #ffffff;
	padding: 10px 0;
	margin: 0;
}

.member > p {
	font-size: 20px;
	color: #000000;
	max-width: 200px
}

.line1{
	width: 1200px;
	margin: 0 auto;
}

.line2{
	width: 1200px;
	margin: 0 auto;
}

.profbg {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.profile {
	min-width: 700px;
	display: grid;
	grid-template-columns: 200px auto;
	padding: 20px;
	margin: 20px;
}


aside {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 250px auto;	
}

figure {
	margin: 15px 25px;
}

.profpic > img {
	max-width: 150px;
}

figcaption {
	max-width: 250px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #595959;
	margin-top: 20px;
}

figcaption > a{
	text-decoration: none;
	max-width: 250px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #595959;
	margin-top: 20px;
}

.profnav > ul {
	list-style-type: none;
	display: block;
	margin-top: 20px;
	padding:0;
	
}

.profnav > ul > li > a:hover{
	background: #ffffff;
}

.profnow {
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding: 10px 25px;
	background-color: #ffffff;
	color: #595959;
}

.profnotnow {
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding: 10px 25px;
	background-color: rgba(255,255,255,0.5);
	color: #595959;
}

main {
	background-color: rgba(255,255,255,0.8);
	padding: 60px 50px;
}

main > h1 {
	margin:0;
	color: #595959;
	padding-bottom: 20px;
	
}

main > p {
	font-size: 20px;
	line-height: 40px;
	color: #595959;
}

.aliceig {
	margin-left: 10px;
	margin-bottom: -20px;
}

.alicemaps > img {
	width: 100px;
}

.alicemaps > img:hover {
	width: 300px;
}



.sharoninfo {
	background: rgba(147,222,212,0.85);
	font-size: 20px;
	line-height: 40px;
	color: #595959;
	list-style: circle;
}

.sharoninfodetail {
	font-size: 20px;
	line-height: 15px;
	margin-top: -27px;
	padding-left: 80px;
	color: #595959;
	list-style: disc;
}

.sharonsocail > img {
	width:50px;
	margin-bottom: -18px;
}

.sharontimetable > table, tr, td{
	border: 2px solid #595959;
	border-collapse: collapse;
}

.timetable {
	text-align: center;
	color: #595959;
	font-weight: bold;
	font-size: 15px;
	background-color: #ffffff;
	width: 500px;
	margin: 0 auto;
}

.lu tr:hover {
	background-color: rgba(147,222,212,0.5);
}

.nora tr:hover {
	 background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

th {
	background: #595959;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

.petinfo {
	width: 700px;
	margin: 0 auto;
}

.petinfo > table {
	text-align: left;
	color: #595959;
	font-weight: bold;
	font-size: 18px;
	background-color: #ffffff;
	margin: 0px auto 40px auto;
}

.petinfo > table, tr, td{
	border: 2px solid #595959;
	border-collapse: collapse;
	padding: 10px;
}

.petinfo tr:hover {
	background-color: rgba(147,222,212,0.5);
}

.petpic {
	width: 250px;
}

.album {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.photos {
	width:1000%;
	display: flex;
	overflow: hidden;
}

.photo{
	width: 10%;
	transition: 0.6s;
}

.photo img{
	width: 60%;
	margin: 0 auto;
}

.photonavlu {
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	justify-content: center;
}

.photoselect{
	width: 20px;
	height: 20px;
	border: 2px solid #595959;
	margin: 5px;
	cursor: pointer;
	transition: 0.4s;
	font-size: 15px;
	color: #595959;
	text-align: center;
	background-color: #ffffff;
	padding: 2px;
}

.photoselect:hover{
	border: 2px solid #93ded4;
	background: #93ded4;
	color: #ffffff;
}

.a:hover{
	border: 2px solid #d3abb4;
	background: #d3abb4;
	color: #ffffff;
}

input[name="rlu"]{
	position: absolute;
	visibility: hidden;
}

#rlu1:checked ~ .photo1 {
	margin-left:0;
}

#rlu2:checked ~ .photo1 {
	margin-left: -10%;
}

#rlu3:checked ~ .photo1 {
	margin-left: -20%;
}

#rlu4:checked ~ .photo1 {
	margin-left: -30%;
}

#rlu5:checked ~ .photo1 {
	margin-left: -40%;
}

#rlu6:checked ~ .photo1 {
	margin-left: -50%;
}

#rlu7:checked ~ .photo1 {
	margin-left: -60%;
}

#rlu8:checked ~ .photo1 {
	margin-left: -70%;
}

#rlu9:checked ~ .photo1 {
	margin-left: -80%;
}

#rlu10:checked ~ .photo1 {
	margin-left: -90%;
}

.qrcodearea {
	text-align: center;
}

.qrcodearea > p {
	font-size: 20px;
	line-height: 40px;
	color: #595959;
}

.qrcode{
	width: 200px;
	margin: 0 auto;
}

.stickerroll {
	margin-top: 30px;
}

.stickerroll > img {
	width: 100px;
}

.stickerroll > img:hover {
	width: 150px;
}

.codenav {
	COLOR: #595959;
	LIST-STYLE: NONE;
	TEXT-ALIGN: left;
	PADDING: 0;
	display: flex;
}

.codenow {
	text-decoration: none;
	LIST-STYLE: NONE;
	border: 1px solid #03bec5;
	border-radius: 10px 10px 0 0;
	PADDING: 10px 50px;
	COLOR: #ffffff;
	margin-right: 5px;
	background-color: #03bec5;
}

.codenav > li > a:hover {
	border: 1px solid #ffffff;
}

.codenotnow {
	text-decoration: none;
	LIST-STYLE: NONE;
	border: 1px solid #e1f8e8;
	border-radius: 10px 10px 0 0;
	PADDING: 10px 50px;
	COLOR: #595959;
	margin-right: 5px;
	background-color: #e1f8e8;
}

.codearea {
	min-width: 700px;
	COLOR: #595959;
	margin-top: -5px;
	background: rgb(3,190,197); background: linear-gradient(180deg, rgba(3,190,197,1) 0%, rgba(225,248,232,1) 97%);
}

.codearea > table {
	text-align: left;
	color: #595959;
	font-weight: bold;
	font-size: 18px;
	background-color: #ffffff;
	width: 800px;
	margin: 30px 40px 40px 20px;
	
}

.codearea > table, tr, td{
	border: 2px solid #595959;
	border-collapse: collapse;
	padding: 5px;
	
}

.joannecode {
	display: grid;
	grid-template-columns: auto 20px auto;
}

.joannecode > table {
	width: 400px;
	margin: 10px auto;
}






.slider_container {
  margin: 60px auto;
  width: 800px;
  height: 540px;
  position: relative;
  border: 40px solid;
  border-color: #fff;
  border-bottom-width: 200px;
  background-color: #f5f5f5;
  box-shadow: #666 0 0 5px;
  box-sizing: content-box;
}
.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 10s linear infinite;
  animation: round 10s linear infinite;
}
.slider_container div img {
  width: 145%;
  height: auto;
  display: block;
}
.slider_container div {
    -webkit-animation: round 10s linear infinite;
animation: round 10s linear infinite;
}

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 2秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 2-3秒淡出*/
  }
}
@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 2秒靜止*/
  }
  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 2-3秒淡出*/
  }
}
.slider_container div:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slider_container div:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.slider_container div:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.slider_container div:nth-child(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.slider_container div:nth-child(1) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.slider_container span {
  color: #000;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  position: absolute;
  left: 0%;
  top: 560px;
  width: 1600px;
  height: 150px;
  font-size: 60px;
  text-align: center;
  line-height: 200px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider_container:hover span {
  width: 145%;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.slider_container:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.rwd_slider_container_wrapper {
  width: 880px;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: #666 0 0 0px;
  padding: 20px;
  margin: 0 auto;
}
.rwd_slider_container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: calc(70% + 100px);
}
.rwd_slider_container .slider_container {
  box-shadow: none;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
.rwd_slider_container .slider_container div {
  width: 100%;
  line-height: 0;
}
.rwd_slider_container .slider_container span {
  top: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}





.cta {
	display: block;
	color: #ffffff;
	background: #595959;
	text-decoration: none;
	padding: 20px 0px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	margin: 20px 300px;
}





